// Bazel stuff.
bazel-*

// Vim stuff.
*swp

// Eclipse project.
.classpath*
.project*

// Intell-J
out/
.idea
.settings
main.iml

// Phabricator stuff.
.arcconfig

// The build output.
output

// Mac
.DS_Store
